<h2>User info</h2>

<%= attachment_image_tag user, :profile_image, :fill, size:'100x100', format: 'jpeg', fallback: "no_image.png" %>

<table class="table">
  <thead>
    <th colspan=2></th>
  </thead>
  <tr>
    <td>name:</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>introduction:</td>
    <td><%= user.introduction %></td>
  </tr>
</table>

<div class="row">
  <% if user.id == current_user.id %>
    <%= link_to " ", edit_user_path(user), class: "btn btn-default glyphicon glyphicon-wrench col-xs-12" %>
  <% else %>
    <%= link_to " ", user_path(current_user.id), class: "btn btn-default glyphicon glyphicon-wrench col-xs-12" %>
  <% end %>
</div>

<div class="row">
  <h2>New book</h2>
  <div class="new-book">
    <!-- form_with部分。/books宛てにPOSTメソッドを実行 -->
    <%= form_with model: newbook, url:'/books', local:true do |f| %>
      <div class="form-group">
        <%= f.label :Title %><br />
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Opinion %><br />
        <%= f.text_area :body, class:"form-control" %>
      </div>
      <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
    <% end %>
  </div>
</div>