<div class="container">
  <% if flash[:notice] %>
    <div class="flash">
      <p class="alert alert-success"><%= flash[:success] %></p>
    </div>
  <% end %>
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/profile', user: @user, newbook: @newbook %>
      </div>
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table">
          <tr>
            <td>
              <%= link_to attachment_image_tag(@book.user, :profile_image, :fill, 40, 40, fallback: "no_image.png", size:"40x40"),user_path(@book.user.id) %><br>
              <%= link_to @user.name, user_path(@user.id) %></td>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @user.id == current_user.id %>
              <td><%= link_to "Edit" , edit_book_path(@book.id), class:'btn btn-success btn-xs' %></td>
              <td><%= link_to "Destroy" , book_path(@book), method: :delete,"data-confirm" => "本当に消しますか？", class:'btn btn-danger btn-xs' %></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
</div>